body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f9;
}

.table th {
    text-align: center;
    background-color: #f8f9fa;
}

.table td input {
    text-align: center;
}

button {
    width: 48%;
}

button:hover {
    cursor: pointer;
}
